.skills {
  padding: 4rem;
  background: #fff;
  width: 100%;
}

h1 {
  text-align: center;
}

.skills_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 auto;
}

.skills_wrapper {
  position: relative;
  margin: 50px 0 45px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills_cards {
  margin-bottom: 24px;
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1024px) {
  .skills_cards {
    display: flex;
  }
}
