.skillCard {
  margin: 0 1rem;
  list-style: none;
}

.card {
  display: flex;
  overflow: hidden;
  align-items: center;
  box-shadow: 5px 5px 10px #bfe9ff;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 8px 0px;
}

.card_image img {
  overflow: hidden;
  height: 70px;
  object-fit: contain;
}

@media only screen and (max-width: 1024px) {
  .skillCard {
    margin-bottom: 2rem;
  }
}
